* {
    -moz-box-sizing: border-box;
    transition-property: background-color;
    transition-duration: 300ms;
}

ul { list-style: none; margin: 0; padding: 0 }
li { margin: 0 }
code { font-size: 10px; color: #202020; }

#gm { display: table; width: 100%; }
#rl, #st { display: table-cell; background-color: #008800; padding: 20px; }

#rl .layout:before, #rl .layout:after {
    content: "";
    display: table;
}

#rl .layout:after {
    clear: both;
}

#rl { font-weight: bold; }

#rl .layout { }
#rl .layout > div { float:left; }
#rl .layout .quarter { width: 90px; }
#rl .layout .half { width: 180px; }

#rl .field { border: 1px solid #FFD700; text-align:center; color:white; }
#rl .field:hover { background-color: #00aa00; }
#rl .field.zero { margin-left: 90px; height: 40px; width: 180px; }
#rl .outside .field { height: 160px; line-height: 24px; padding-top: 56px; }
#rl .inside .field, 
#rl .columns .field { float:left; height: 40px; width: 60px; padding: 8px 0; }

#rl .inside .field .number { line-height: 24px; margin: 0px auto; width: 50%; border-radius: 4px; }
#rl .inside .field .number.red { background: #cc0000; }
#rl .inside .field .number.black { background: #000000; }

#rl .columns { margin-left: 90px; width: 180px; }

#gm h3, #gm strong { color: white; }
#gm p { margin: 0; }
#gm .player { margin-bottom: 5px; }

